<h1>Lista Prodotti</h1>

<a routerLink="/carrello">
  🛒 Vai al carrello
</a>

@if (notifica()) {
  <div class="notifica">
    ✓ {{ notifica() }}
  </div>
}

@if (loading()) {

  <p class="caricamento">Caricamento...</p>

} @else {

  @for (prodotto of prodotti; track prodotto.id) {

    <div class="prodotto-card">

      <h2>{{ prodotto.nome }}</h2>

      <p>Prezzo: € {{ prodotto.prezzo }}</p>

      <p>Prezzo IVA: € {{ prodotto.prezzo_ivato }}</p>

      <button
        class="dettaglio"
        [routerLink]="['/prodotto', prodotto.id]">
        Vedi Dettaglio
      </button>

      <button
        class="carrello"
        (click)="aggiungiAlCarrello(prodotto)">
        🛒 Aggiungi al carrello
      </button>

    </div>

  }

}